/*
 * This file is part of the MsalsasVotingBundle package.
 *
 * (c) Manolo Salsas
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.msalsas-voting-widget-wrapper {
    display: inline-block;
}
.msalsas-voting-widget {
    font-size: 12px;
    color: #e35614;
    text-align: center;
    background-clip: padding-box;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 67px;
}
.msalsas-voting-shakes {
    background-color: #fff;
    padding: 6px 0 6px;
    border: 1px solid #FF883D;
    border-bottom: 0;
    line-height: 1.2em;
    background-repeat: repeat-x;
    background-position: 0 -2px;
    background-clip: padding-box;
    border-radius: 3px 3px 0 0;
    font-weight: bold;

}
.msalsas-voting-shakes.published {
    background-color: #FFE8D8;
    border: none;
}
.msalsas-voting-shakes a {
    display: block;
    color: #e35614;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.msalsas-voting-shake-it {
    overflow: hidden;
    display: block;
    height: 25px;
    position: relative;
    left: -6px;
    width: 78px;
}
.msalsas-voting-shake-it a, .msalsas-voting-shake-it span {
    background-color: #e35614;
    padding-top: 3px;
    display: block;
    box-sizing: border-box;
    height: 25px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}
.msalsas-voting-shake-it a {
    background-image: linear-gradient(180deg, #F5720E 0%, #FE4A00 100%);
    box-shadow: 0 1px 2px 0 #C43E0B;
    border: 1px solid rgba(122, 47, 11, 0.45);
}
.msalsas-voting-shake-it span {
    background-image: none;
    border: 1px solid #ff6300;
    border-bottom: 1px solid #ff914a;
}
.msalsas-voting-clicks {
    background-color: #fff;
    padding: 1px 0 2px 0;
    border: 1px solid #FF883D;
    border-top: 0;
    font-size: 10px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-clip: padding-box;
    border-radius: 0 0 3px 3px;
    font-weight: bold;
}
.msalsas-voting-clicks.published {
    background-color: #FFE8D8;
    border: none;
}
.msalsas-voting-bottom-bar-wrapper {
    font-family: 'Open Sans', sans-serif;
    float: right;
    margin-right: 50px;
    display: inline-block;
    padding: 0;
    color: #3c3c3c;
    border-top: 1px solid #FEE7DB;
    border-bottom: 1px solid #FEE7DB;
    height: 32px;
}
.msalsas-voting-bottom-bar-wrapper span {
    padding-right: 5px;
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
}
.msalsas-voting-bottom-bar-wrapper span i {
    color: #ffa980;
}
.msalsas-voting-bottom-bar-votes-up {
    margin-left: 10px;
}
.msalsas-voting-bottom-bar form {
    display: inline-block;
    margin-left: 10px;
    padding: 0;
    border-left: 1px solid #D8D8D8;
}
.msalsas-voting-bottom-bar form select {
    background: #FFF;
    color: #e35614;
    border: 0;
    font-size: 11px;
    width: 75px;
    border-radius: 0;
}

/*Modal*/
#msalsas-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.msalsas-modal-content {
    background-color: #FFEEC7;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #e35614;
    min-width: 250px;
    text-align: center;
    width: 25%;
    height: 18.5ex;
    overflow: hidden;
    border-radius: 3px;
}
#msalsas-modal-text {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}

.msalsas-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 15px;
}

.msalsas-close:hover,
.msalsas-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}